out/
build/
install/x86_64
install/arm_64
Application/calendar/bin/calendar
Application/deskTop/bin/PiXDesktop
Application/fileManagement/bin/fileManagement
Application/mediaPlayer/bin/mediaPlayer
Application/photoAlbum/bin/photoAlbum
Application/systemSettings/bin/systemSettings
ComDemoApplication/animationDemo/bin/animationDemo
ComDemoApplication/batteryDemo/bin/batteryDemo
ComDemoApplication/buttonDemo/bin/buttonDemo
ComDemoApplication/checkBoxDemo/bin/checkBoxDemo
ComDemoApplication/comboxDemo/bin/comboxDemo
ComDemoApplication/flexLayoutDemo/bin/flexLayoutDemo
ComDemoApplication/labelDemo/bin/labelDemo
ComDemoApplication/progressBarDemo/bin/progressBarDemo
ComDemoApplication/sliderDemo/bin/sliderDemo
